---
import { getLangFromUrl, useTranslations } from "@/i18n/utils"
import Section from "../Section.astro"

const { cv } = Astro.props
const { summary } = cv.basics
const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Section title={t("about.title")}>
  <p>
    {summary}
  </p>
</Section>
