---
import Section from "../Section.astro"

import { certificates } from "@cv"
---

<Section title="Certificados">
  <ul>
    {
      certificates.map(({ name, date, issuer }) => {
        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{issuer}</h3>
                </div>

                <time>{date}</time>
              </header>

              <footer>
                <p>{name}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  article h3 {
    font-weight: 500;
    color: #111;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: #555;
    font-size: 0.85rem;
    min-width: 102px;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
