---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Info from "@/components/sections/hero/Info";
import Footer from "@/components/sections/hero/Footer";
import Avatar from "@/components/sections/hero/Avatar";

const { profiles, phone, email } = basics;

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");

interface HeroProps {
  readOnly?: boolean;
}

const { readOnly } = Astro.props as HeroProps;
---

<Section>
  <div class="container">
    <div class="info">
      <Info client:load readOnly={readOnly} />
      <footer class="print">
        {printInfo}
      </footer>
      <Footer client:load readOnly={readOnly} />
    </div>
    <Avatar client:load readOnly={readOnly}/>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 32px;
  }

  img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 128px;
    border-radius: 16px;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
